# Application Configuration
SECRET_KEY=dev-secret-key-12345
DATABASE_URL=sqlite:///email_system.db

# SMTP Configuration (Gmail)
# To get Gmail app password: https://myaccount.google.com/apppasswords
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=EMAIL.com
SMTP_PASSWORD="KEY_PASS"


# Mailchimp Configuration (optional)
MAILCHIMP_API_KEY=your-mailchimp-api-key
MAILCHIMP_SERVER_PREFIX=us1

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Gemini AI Configuration
GEMINI_API_KEY=GEMINI_API_KEY

# Tracking Configuration (Change to your public domain when deploying)
BASE_URL=http://localhost:5000
